#slider {
    padding-left: 20px;
}
.home{
    display: none;
}

#slider h2 {
    font-weight: 400;
    font-size: 58px;
    line-height: 70px;

    color: #000000;
}

#slider p {
    margin: 20px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* or 120% */

    color: #000000;
}

#slider button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 27%;
    height: 55px;
    background: inherit;
    border: 1px solid #000000;
    border-radius: 30px;
    transition: all 0.5s;

    &:hover {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        color: white;
        background-color: #000000;
    }
}

.catalog-text h2 {
    font-size: 42px;
    /* identical to box height, or 125% */
    text-align: center;

    color: #000000;
}

/* .catalog-item a{
      color: ;
  } */
.catalog-text {
    margin: 70px 0;
    align-self: center;
    max-width: 700px;
}

.catalog-item h3 {
    color: #000000;
    margin-top: 30px;
    font-size: 32px;
}

.catalog {
    display: flex;
    flex-direction: column;
}

.catalog-container img {
    width: 100%;
}

.catalog-item a {
    color: #4476b9;
}

.catalog-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    grid-gap: 1rem;
}

.catalog-item {
    cursor: pointer;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.laptop,
.tab {
    h3{
        color: #dce5e2;
    }
        background-color: #000000;
}

/* .laptop img{
      width: 150%;
  }
  .tab img{
      width: 150%;
  } */
.products {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}
.product{
    img{
        width: 200px;
        height: 200px;
    }
}
.products h2 {
    font-size: 42px;
    line-height: 52px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #000000;
}

.products p {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

.product-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product {
    flex-basis: 20%;
}

.product h3 {
    margin: 37px 0 10px 0;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height, or 125% */

    color: #000000;
}

.product p {
    margin-bottom: 25px;
    text-align: start;
    font-size: 14px;
    line-height: 17px;
    /* or 120% */

    color: #4b4b4b;
}

.product span {
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 120% */

    color: #000000;
}

.best-products {
    margin: 150px 0;
}

.best-products h2 {
    font-size: 42px;
    line-height: 52px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #000000;
}

.best-products p {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

.best-container {
    margin-top: 100px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.best-item p {
    text-align: start;
}

.best-item {
    flex-basis: 20%;
    padding: 40px 60px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    border-radius: 16px;
}

.best-item h3 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 40px;
    color: #000000;
}

.best-item button {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 200px;
    height: 45px;
    background: inherit;
    border: 1px solid #000000;
    border-radius: 30px;
}

.best-item img {
    width: 100%;
}

/* FAQ */

.FAQ {
    margin: 100px 0;
}

.Faq h1 {
    padding: 0 0 50px 0;
    background: linear-gradient(270deg, #9747ff 26.96%, #000000 93.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 44px;
    font-weight: 600;
}

details {
    color: #000000;
    font-size: 1.5rem;
    border-bottom: 0.5px solid #7d7d7d;
}

summary {
    padding: 0.7em 1.3rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
    transition: height 1s ease;
}

summary::-webkit-details-marker {
    display: none;
}

summary:after {
    content: "\002B";
}

details[open] summary {
    margin-bottom: 0.5em;
}

details[open] summary:after {
    content: "\00D7";
}

details[open] div {
    padding: 0.5em 1em;
}

/* Gifts */

.gifts {
    margin-left: 5%;
    margin-right: 5%;
    padding: 60px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    background: #dce5e2;
    border-radius: 32px;
}

.gifts h2 {
    font-size: 42px;

    text-align: center;

    color: #000000;
}

.gifts p {
    font-size: 16px;
    margin: 10px 0 20px 0;
    text-align: center;

    color: #000000;
}

.gifts-inputs {
    width: 50%;
    height: 50px;
    background-color: inherit;
    border: 1px solid #000000;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 54px;
}

.gifts-inputs input {
    color: #000000;
    font-size: 16px;
    margin-left: 20px;
    background-color: inherit;
    border: none;
    outline: none;
}

.gifts-inputs button {
    font-size: 16px;
    color: #dce5e2;
    width: 25%;
    height: 50px;
    background-color: #000000;
    border: none;
    outline: none;
    border-radius: 0 54px 54px 0;
}

.gifts-inputs input::placeholder {
    color: #000000;
    font-size: 16px;
}


@media screen and (width<=500px) {
    #slider {
        display: none;       
    }
    .home{
        display: inline;
    }
    .catalog-container{
        display: flex;
        flex-wrap: wrap;
    }
    .catalog-item h3{
        font-size: 22px;
    }
    .product-container{
        gap: 40px;
        justify-content: center;
    }
    // .product{
    //     img{
    //         width: 100%;
    //     }
    //     h3{
    //         font-size: 18px;
    //     }
    //     p{
    //         font-size: 11px;
    //     }
    // }
    .Faq{
        h1{
            margin: 0;
        font-size: 32px;}
    }
    details{
        font-size: 18px;
    }
    .gifts{
        img{
            width: 70%;
        }
        h2{
            margin-top: 50px;
            font-size: 24px;
        }
        p{
            font-size: 18px;
        }
        padding: 0;
    }
    .gifts-inputs{
        width: 100%;
    }
    .best-container{
        justify-content: center;
    }
}