@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding-left: 5%;
    padding-right: 5%;
    background: #fff;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

ul {
    list-style: none;
}